<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSLogin" />
                <binding name="BasicHttpBinding_IWSMessage" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58914/WebServices/WSLogin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSLogin"
                contract="ExternalWebService.IWSLogin" name="BasicHttpBinding_IWSLogin" />
            <endpoint address="http://localhost:58914/WebServices/WSMessage.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSMessage"
                contract="ExternalWebServiceMessage.IWSMessage" name="BasicHttpBinding_IWSMessage" />
        </client>
    </system.serviceModel>
</configuration>