@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Projet .NET</h2>
        <p>
            Bienvenue sur la page de l'application du projet .NET
        </p>
        <p>
            Ici vous pouvez editer votre profil si vous souhaitez changer des informations.
        </p>
    </div>
</div>