@{
    ViewBag.Title = "Home Page";
}

<div class="widthContainer">
    <hr />
    <h2>Projet .NET</h2>
    <p>
        Bienvenue sur la page de l'application du projet .NET
    </p>
    <p>
        Contenu des TP .NET
    </p>
</div>
